### custom ###
application-local.yml

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/docs/
/src/main/resources/docs/
/src/main/resources/docs/Excel表/
/src/main/resources/docs/images/
/src/main/resources/docs/帅鑫/
/src/main/resources/docs/绘图/
/src/main/resources/docs/黑马java反射与注解.md
/src/main/resources/docs/黑马Java微服务SpringCloud+.md
/src/main/resources/docs/黑马SpringBoot学习.md
/src/main/resources/docs/黑马SSM学习.md
/src/main/resources/docs/黑马程序员javaweb学习.md
/src/main/resources/docs/黑马苍穹外卖项目学习.md
